  .fund_container{
    width: 1100px;
    margin: 100px auto;
  }
  .fund_container div{
    display: table;
  }
  .fund_container div span{
    display: table-cell;
    vertical-align: middle;
  }
  .top{
    margin: 20px 0px 100px 0px;
    width: 1100px;
    height: 80px;
    display: table;
  }

  .top h1 {
    margin-top: 20px;
    text-align: center;
  }

  .top2{
    margin: 50px 0;
    border-bottom: 1px solid #9F9F9F;
    width: 1100px;
    height: 50px;
    display: table;
  }

  /* 첫번째 내용 */
  .middle{
    position: relative;
    margin-top: 20px;
    width: 1100px;
    height: 500px;
  }
  .middle-left1{
    position: absolute;
    top: 0px;
    width: 700px;
    height: 600px;
  }
  
  .middle-left1-1{
    position: relative;
    overflow:hidden;
    border-radius: 20px;
    width: 700px;
    height: 460px;
  }
  .middle-left1-2{
    border-radius: 20px;
    margin-top: 10px;
    width: 700px;
    height: 110px;
    background-color: #F2F4F6;
  }

  .middle-left2{
    outline: 1px solid #9F9F9F;
    border-radius: 20px;
    position: absolute;
    top: 0px;
    width: 700px;
    height: 500px;
    background-color: #00D8FF;
  }

  .ml-image {
    max-width: 100%; /* 이미지의 최대 너비를 부모 요소에 맞게 설정 */
  height: 460px; /* 높이 자동 조정 */
  display: block;
  position: absolute;
  top: 50%; /* 이미지 세로 중앙 정렬을 위해 사용 */
  left: 50%; /* 이미지 가로 중앙 정렬을 위해 사용 */
  transform: translate(-50%, -50%); /* 이미지 가운데 정렬 */
  }

  .fintro {
    text-align: left;
    margin: 20px 20px 0 20px;
    font-size: 14px;
  }

  .fintro p {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  .fmaker {
    position: absolute;
    bottom: 0;
    margin: 10px 20px 40px 20px;
    font-size: 14px;
    color: #555555;
  }

  .fmaker > .fmaker-text {
    float: left;
    margin-right: 20px;
    color: #333333;
  }


  .middle-right{
    position: absolute;
    top: 0px;
    left: 720px;
    width: 380px;
    height: 600px;
  }
  .middle-right-1{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    outline: 1px solid #d1d1d1;
    width: 380px;
    height: 220px;
  }

  .fund_hashtag {
    margin: 15px 20px 15px 20px;
  }

  .fund_hashtag .fund_tag {
    display: inline-block;
    border-radius: 2px;
    padding: 2px 10px; 
    margin: 0 10px 0 0px; 
    font-weight: normal; 
    font-size: 11px; 
    background: #d9d9d9; 
    color: #848484;
    }

    .fund_hashtag .fund_tag:hover{
        background-color: #ebebeb;
    }

  .time, .class, .people, .stack, .goal, .date {
    font-size: 14px;
    margin: 10px 20px 10px 20px;
    color: #5f5f5f;
  }

  .current {
    font-size: 20px;
    margin: 10px 20px 10px 20px;
    color: #EE833E;
    font-weight: bold;
  }

  .stack {
    margin: 10px 20px 40px 20px;
  }

  .mr1-title {
    color: #888888;
    font-size: 12px;
  }

  .mr1-title2 {
    color: #333333;
    font-weight: bold;
    font-size: 12px;
  }

  .fund_icon {
    margin-right: 10px;
  }

  .mr1-textwrap {
    margin-left: 10px;
    margin-top: 4px;
  }

  .mr1-text {
    float: left;
    padding: 2px 10px;
    margin-left: 0;
    font-weight: bold; 
    font-size: 11px;
    color: #333333;
  }

  .mr1-text2 {
    padding: 2px 10px;
    margin: 0;
    font-size: 12px;
    color: #333333;
  }

  .middle-left1-1 > div > .mr1-title {
    margin-right: 20px;
  }

  .prod_content_text {
    font-size: 14px;
    margin: 40px auto;
    width: 520px;
    line-height: 2;
    text-align: justify;
  }


  .middle-right-2{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    outline: 1px solid #d1d1d1;
    margin-top: 0px;
    width: 380px;
    height: 220px;
  }

  .middle-right-2 .current-text {
    font-size: 14px;
    margin: 20px 0 0 20px;
    font-weight: bold;
  }

  .middle-right-3{
    margin-top: 10px;
    width: 380px;
    height: 120px;
  }
  

  .fbtn1, .fbtn2 {
    border: 1px solid #cccccc;
    border-radius: 12px;
    background-color: #ffffff;
    min-width: 45px;
    min-height: 45px;
    float: left;
    margin: 40px 0px 40px 10px;
  }

  .sidebtn {
    top:0; 
    left: 0;
    width: 35px;
    height: 35px;
    object-fit: cover;
    cursor: pointer;
  }

  .sidebtn1 {
    margin-top: 10px;
    margin-left: 8px;
    cursor: pointer;
  }

  .sidebtn2 {
    margin-top: 7px;
    margin-left: 5px;
    cursor: pointer;
  }

  .fbtn3 {
    margin: 40px auto;
  }

  /* 프로젝트 더보기 */
  .bottom{
    margin-top: 100px;
    margin-bottom: 20px;
    width: 1100px;
    height: 100px;
    border-top: 1px solid #848484;
  }
  

  /* 프로젝트 상세보기 바 */
  /* .fnav {
    margin-top: 30px;
    margin-left: 50px;
    font-weight: 700;
    font-size: 18px;
  }
  .fnav ul {
      display: flex;
      list-style: none;
      padding: 0;
    }
  
    .fnav li {
         margin-right: 30px;
         font-size: 14px;
      } */

      /* 2번째 내용 */
      .middle2{
        margin-top: 20px;
        width: 1100px;
        height: 500px;
        position: relative;
      }

      .middle2-left2{
        border-radius: 20px;
        position: relative;
        float: left;
        top: 0px;
        width: 700px;
        height: 500px;
      }
      
      .ml2-component {
        position: relative;
        display: block;
        align-items: center;
        margin: 0 auto;
        padding-bottom: 20px;
        width: 700px;
        height: 100%;
        border-radius: 20px;
      }

      .prod_content_text {
        font-size: 14px;
        font-weight: 600;
      }

      .search-btn {
        width: 700px;
        height: 50px;
        background-color: #fff;
        border: 1px solid #EE833E;
        color: #EE833E;
        font-weight: bold;
        font-size: 16px;
        border-radius: 10px;
        cursor: pointer;
      }

      .search-btn:hover {
        background-color: #EE833E;
        color: #fff;
      }

      .search-results > img {
        margin: 50px auto;
        position: relative; 
        top:0; 
        left: 0;
        width: 600px;
        object-fit: cover;
      }

      .middle2-right{
        position: sticky;
        top: 65px;
        left: 0;
        margin-left: 780px;
        width: 380px;
        height: 500px;
      }
      .middle2-right-1{
        border-radius: 10px;
        margin-bottom: 20px;
        min-width: 280px;
        height: 180px;
      }
      .middle2-right-2{
        border-radius: 10px;
        margin-bottom: 20px;
        min-width: 280px;
        height: 180px;
      }
      .middle2-right-3{
        border-radius: 10px;
        margin-bottom: 20px;
        min-width: 280px;
        height: 180px;
      }

      .middle2-right ul {
        display: block;
        list-style: none;
        padding: 0;
      }
    
      .middle2-right li {
           margin-right: 30px;
           font-size: 14px;
      }

      .cartshow-btn {
        background-color: #fff;
        color: #EE833E;
        border: 0px solid #EE833E;
        cursor: pointer;
      }

      .cartshow-btn:hover {
        color: #0055ff;
      }

/* 
@media screen and (max-width: 1024px) {
    .container {
        width: 900px;
    }

    .top, .top2, .bottom {
        width: 900px;
    }

    .middle {
        width: 900px;
    }

    .middle-left1,
    .middle-left2,
    .middle-left1-1,
    .middle-left1-2 {
        width: 600px;
    }

    .middle-right,
    .middle-right-1,
    .middle-right-2,
    .middle-right-3 {
        width: 280px;
        left : 620px;
    }

    .middle2 {
      width: 900px;
    }

    .middle2-right,
    .middle2-right1,
    .middle2-right2,
    .middle2-right3 {
        width: 280px;
        left : 620px;
    }

} */
