.fundinglistpage {
    min-height: 500px;
}

.fundinglist_tab {
  margin-top: 100px;
  margin-bottom: 100px;
  height: 120px;
  text-align: center;
  
}

.fundinglist_tab button{
  background-color: white;
  border: none;
  margin: 20px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 100px;
  border-radius: 20px;
  box-shadow: 0.5px 2px 5px rgb(218, 218, 218);
  padding: 3px;
}

.fundinglist_tab .active{
  cursor: pointer;
  width: 100px;
  margin-bottom: 15px;
  background: white;
  border-radius: 20px;
  border: 3px solid #ee833e;
  box-shadow: 0.5px 2px 5px rgb(218, 218, 218);
}


.fundinglist_Imagetab {
    background-color: #fff;
    border: #fff;
    
}

.fundinglist_tab .Imagetab_img {
    cursor: pointer;
    width: 100px;
    margin-bottom: 15px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0.5px 2px 5px rgb(168, 168, 168);
}


.fundinglist_contents {
    margin: 0 auto;
    width: 1300px;
    min-height: 500px;
    margin-bottom: 200px;
}

.fundinglist_title {
    display: flex;
    margin-bottom: 30px;
    justify-content: space-between;
    align-items: center;
}

.fundinglist_title h1{
    margin: 15px 15px 0px 15px;
}

.fundinglist_title_tab {
    padding-right: 30px;
}


.fundinglist_title_tab label {
    cursor: pointer;
    width: 100px;
    margin: 20px 0px 0px 0px;
    text-align: center;
    float: left;
    font-weight: 600;
    color: #555555;
    
}

.fundinglist_title_tab label:hover {
  cursor: pointer;
  color:#ee833e;
  
}

/* 이전버전 펀딩 카로셀 카드 */
/* .fundinglist_mainCard {
    border: solid 1px #c8c8c8;
    width: 350px;
    height: 420px;
    border-radius: 20px;
    box-sizing: border-box;
    overflow: hidden;
    margin: 40px;
    display: inline-block;
  
  }
  .fundinglist_dday {
    width: 54px;
    height: 26px;
    font-size: 14px;
    background-color: #ee833e;
    color: white;
    border-radius: 100px;
    text-align: center;
    line-height: 26px;
    display: inline;
    position: absolute;
    margin: 10px;
  }
  .fundinglist_img {
    object-fit: cover;
    width: 350px;
    height: 220px;
  }

  .fundinglist_tag {
    background-color: #ebebeb;
    border-radius: 4px;
    padding: 10px;
    width: 50px;
    height: 25px;
    box-sizing: border-box;
    font-size: 14px;
    color: #555555;
    margin: 0px 5px 5px 10px;
    line-height: 5px;
    text-align: center;
  }


  .fundinglist_cardInfo {
    background-color: white;
    margin-top: 10px;
  }
  .fundinglist_cardInfo ul {
    list-style:none;
    margin:0 auto;
    padding:0;
  }
  .fundinglist_cardInfo ul li {
    float: left;
  }
  .fundinglist_cardTitle {
    width: 350px;
    font-size: 24px;
    color: #333333;
    font-weight: bold;
    padding-left: 10px;
    display: block;
    text-align: left;
    letter-spacing: -0.5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
  }
  .fundinglist_cardSubtitle {
    font-size: 14px;
    color: #555555;
    word-wrap: break-word;
    padding-left: 10px;
    padding-right: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    display: block;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  .fundinglist_cardFooter {
    margin-top: 20px;
    display: flex;
  }
  .fundinglist_cardFunding {
    flex: 3;
    font-size: 20px;
    font-weight: bold;
    color: #ee833e;
    margin-left: 10px;
  }
  .fundinglist_cardPercent {
    flex: 1;
    font-size: 14px;
    color: #333333;
    text-align: center;
    margin-top: 5px;
    margin-right: 10px;
  } */