.Guidepage_wrap {
    min-height: 500px;
}

.Guidepage_contain {
    margin: 0 auto;
    width: 1200px;
    min-height: 500px;
}

.Guide_title {
    margin-top: 100px;
    margin-bottom: 50px;
    height: 120px;
    text-align: center;
}

.Guide_title p {
    color: #888888;
    font-size: 14px;
}

.Guide_btn {
    width: 520px;
    height: 50px;
    margin: 0 auto;
}

.Guide_btn1 {
    font-size: 16px;
    font-weight: 500;
    background: #fff;
    border: 1px solid #b1b1b1;
    border-radius: 10px;
    width: 180px;
    height: 50px;
    cursor: pointer;
}

.Guide_btn2 {
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    background: #EE833E;
    border: 1px solid #EE833E;
    border-radius: 10px;
    width: 180px;
    height: 50px;
    cursor: pointer;
}

.Guide_btn Button {
    margin-left: 55px;
    margin-top: 15px;
}

.Guide_subtitle {
    margin-top: 100px;
    height: 80px;
    text-align: center;
}

.Guide_img {
    width: 1200px;
}

.Guide_img img {
    margin-left: 10px;
    border-radius: 40px;
}

.qualification {
    margin-top: 100px;
    display: flex;
}

.qualification_process {
    flex: 1;
    margin-right: 50px;
}

.qualification_process .qual_text {
    width: 280PX;
    margin: 60px;
}

.qualification_process .qual_text p {
    margin-top: 10px;
    font-size: 14px;
}

.qualification__container {
    width: 800px;
}

.qualification__tabs {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.qualification__button {
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}

.qualification__button:hover {
    color: #fff;
}

.qualification__icon {
    font-size: 1.8rem;
    margin-right: 0px;
}

.qualification__data {
    width: 600px;
    display: grid;
    grid-template-columns: 0.05fr max-content 1fr;
    column-gap: 2.5rem;
    margin-bottom: 40px;
}

.qualification_num {
    margin-top: -20px;
    font-size: 24px;
    color: #EE833E;
}

.qualification__title {
    font-size: 24px;
    font-weight: 600;
}

.qualification__subtitle {
    display: inline-block;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.qualification__calender {
    font-size: 14px;
    color: #EE833E;
}

.qualification__rounder {
    display: inline-block;
    width: 18px;
    height: 18px;
    background-color: #EE833E;
    border-radius: 50%;
}

.qualification__line {
    display: block;
    width: 2px;
    height: 200%;
    background-color: #EE833E;
    transform: translate(8px, -7px);
}

.qualification [data-content] {
    display: none;
}

.qualification__active[data-content] {
    display: block;
}

.qualification__button.qualification_active {
    color: #fff;
}

.Guide_accordion {
    margin: 200px auto;
}