.myprofile{
    display: flex;
    padding-left: 15%;
    padding-top: 6%;
    padding-bottom: 4%;
    align-items: center;
}

.myprofile > .profileText{
    padding-left: 30px;
    text-align: left;
}

.myprofile > .profileText > .userName{
    color: #333333;
    font-size: 28px;
    font-weight: bold;
    padding-bottom: 5px;

}
.myprofile > .profileText > .easyLogin{
    color: #555555;
    font-size: 16px;
}